* {
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    justify-content: center;
}

ol li {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(49, 49, 248);
    color: aliceblue;
    border: 0px;
    padding: 4px;
    border-radius: 5px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.risco {
    text-decoration: rgb(1, 1, 1);
}

ol {
    padding-left: 20px;
}

ol li {
    padding: 5px;
    color: #000;
    padding: 0px;
}

.risco {
    text-decoration: line-through;
}

button:hover{
    background-color: rgb(246, 225, 66);
    color: black;
}

table {
	list-style-type: lower-roman;
}

li:hover {
    cursor: pointer;
    background-color: rgb(165, 234, 228);
    
}