*{
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    justify-content: center;
}

ul li {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(49, 49, 248);
    color: aliceblue;
    border: 0px;
    padding: 4px;
    border-radius: 5px;
}

input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}